body {
    background-color: #87bdd8;
}

table {
    font-family: sans-serif;
    background-color: #daebe8;
    border-collapse: collapse;
}
table tr td {
    border: 3px solid black;
    padding: 10px;
}
table td + td {
    border-left: 3px solid black;
}
td:nth-child(odd) {
    font-weight: bold;
    background-color: #b7d7e8;
}

input[type=text] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: sans-serif;
}

#searchBtn {
    background-color: #cfe0e8;
    color: black;
    width: 7%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 30px;
    font-family: sans-serif;
}
